/* 
* Fonts familly
*/
$font-primary: "Poppins", sans-serif;
$font-secondary: "Ubuntu", sans-serif;

/*
* Colors
*/
$color-white: #fffffe;
$color-water: #d8eefe;
$color-ateneo-blue: #094067;
$color-dark-electric-blue: #5f6c7b;
$color-brilliant-azure: #3da9fc;
